/*NAV*/
nav {
    top: 0;
    height: 9vh;
    width: 80vw;
    background-color: #fff;
    display: flex;
    position: fixed;
    z-index: 10;
}

#navbar {
    justify-content: space-between;
}

.sneakers {
    font-weight: 900;
    font-size: 2.7em;
    text-transform: lowercase;
    color: hsl(220, 13%, 13%);
}

/*Styling Links*/
.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: capitalize;
}

.nav-links li a {
    color: hsl(219, 9%, 45%);
    text-decoration: none;
    margin: 0;
}

.nav-links li a:hover {
    padding-bottom: 1.9em;
    border-bottom: 5.5px solid hsl(26, 100%, 55%);
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    /* height: 1px; */
    width: 0%;
    background-color: white;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
    width: 80%;
}


/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* right aection of nav */
.right_nav {
    display: flex;
    margin-left: 10em;
    margin-top: 1.6em;
}

.right_nav img {
    margin-right: 2em;
}

.cart {
    margin-top: 0.5em;
}

.avatar {
    width: 3.5em;
    height: 3.5em;
    margin-top: -0.5em;
}
.avatar:hover {
    border: 2.7px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

/* cart section */
#cart_title {
    
    padding: 0.7em;
    font-size: 1.2em;
    font-weight: 700;
}

.no_items {
    padding-top: 4em;
    text-align: center;
    
}
.no_items span {
    color: hsl(219, 9%, 45%);
    font-weight: 800;
    font-size: 1.2em;
}

.item_wrap {
    display: flex;
}
.item_wrap p {
    font-size: 1.2em;
    color: hsl(219, 9%, 45%);
}
.item_name {
    padding-top: 1em;
}
.cart_icon {
    width: 5em;
    margin: 1em;
    border-radius: 10px;
}
.item_btn {
    padding: 1.3em ;
    width: 90%;
    font-size: 1em;
    background-color: hsl(26, 100%, 55%);
    color:  hsl(25, 100%, 94%);
    font-weight: 800;
    border: none;
    border-radius: 8px;
margin-left:1em;
margin-bottom: 1.5em;
}

.total {
    margin-left: 0.6em;
    font-weight: 800;
color: hsl(220, 13%, 13%);
}
.blank {
    display: none;
}
.delete_icon {
    margin-left: 1em;
    margin-right: 1em;
}

/* .ReactModal__Content, .ReactModal__Content--after-open {
 width: 27% !important;
 overflow-y: hidden !important;
} */

/* mobile */
@media (max-width: 1500px) {
    .ReactModal__Content, .ReactModal__Content--after-open {
        width: 31% !important;
       }
}
@media (max-width: 1100px) {
    .ReactModal__Content, .ReactModal__Content--after-open {
        width: 37% !important;
       }
}
@media (max-width: 940px) {
    .ReactModal__Content, .ReactModal__Content--after-open {
        width: 43% !important;
        left: 75% !important;
       }
       .item_wrap p {
        font-size: 1em;
       }
       .item_btn {
        padding: 0.9em;
       }
}
@media (max-width: 600px) {
    .cart_icon {
        width: 4em;
    }
    .ReactModal__Content, .ReactModal__Content--after-open {
        width: 50% !important;
        left: 70% !important;
       }
}
@media (max-width: 500px) {
    .cart_icon {
        width: 6em;
    }
    .ReactModal__Content, .ReactModal__Content--after-open {
        width: 95% !important;
        left: 50% !important;
       }
       .item_wrap p {
        font-size: 1.5em;
       }
       #cart_title {
        font-size: 2.2em;
        margin: 0.3em 0 0 0;
    }
}